.main-header{
    background-color: black;
    min-height: 72px;
}
.container{
display: flex;
}
.site-nav{
    padding: 0;
    margin: 0;
}
.user-log{
    padding: 0;
    margin: 0;
    width: 140px;
}
a{
    color: blanchedalmond;
    text-decoration: none;
}
.main-body{
    margin: 0;
}
.container-name{
    display: inline;
}
.container-merch-block{
    width: 220px;
    height: 284px;
    margin: auto;
    padding: 0;
    border: 0;
    
}
.container-merch{
    display: flex;
    align-items: center;
    padding-left: 370px;
   
}
.img-title{
    text-align: center;
    margin: 0;
}
.price{
    margin: 0;
}