body{
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    background:url("img/Layer.jpg");
    background-color: black;
    background-position: top center;
    background-repeat: no-repeat;

    color: white;
    text-transform: uppercase;
}
.main-header{
    font-size: 12px;
    line-height: 20px;
    color: white;
    background-color: black;
    min-height: 72px;
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.site-nav{
    padding: 0;
    margin: 0;
    width: 540px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.user{
    padding: 0;
    margin: 0;
    width: 140px;
}
a{
    color: white;
    text-decoration: none;
}
.main-container{
    padding: 0;
}
.text-block{

}
.text{
    display: flex;
    justify-content: space-around;
}

.text-block li{
   list-style: none;
    background-color: chocolate;
    width: 300px;
    height: 196px;
}
.container-news{
    width: 940px;
    height: 422px;
    background-color: #faf7f4;
    color: black;
    display: flex;
}
.news{
    width: 470px;
    height: 423px;
    background-color: crimson;
}
.news-text{
    margin: 0;
    list-style: none;
    display: inline;
}
.fotogaleri{
background-color: cyan;
}


















