body{
    margin: auto;
    padding: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    background:url("img/Layer.jpg");
    background-color: black;
    background-position: top center;
    background-repeat: no-repeat;

    color: white;
    text-transform: uppercase;
}
button{
    border: 5px solid black ;
    background-color: black;
    color: white;
    width: 140px;
    height: 45px;
    font-size: 16px;
    padding: 0;
}
.site-nav a{
    display: block;
    padding: 27px 15px 22px 15px;
}
.site-nav a:hover,
.site-nav a:focus{
    background-color: #242424;
}
.main-header{
    font-size: 12px;
    line-height: 20px;
    color: white;
    background-color: black;
    min-height: 72px;
}
.logo{
    display: flex;
    align-items: center;
}
.main-container{
    width: 940px;
    height: 1650px;
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 940px;
    margin: auto;
    height: 72px;
}
.site-nav{
    padding: 0;
    margin: 0;
    width: 540px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.div-site-nav{
    display: flex;
    align-items: center;
}
.user{
    padding: 27px 15px 22px 6px;
    margin: 0;
    width: 69px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user .user-link{
    position: relative;
}
.user-link::before{
    content: "";
    width: 16px;
    height: 18px;

    position: absolute;
    left: -30px;
    top: 2px;
    background-image: url(img/login.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.logo-2{
    width: 365px;
    margin: auto;
    margin-top: 55px;
}
a{
    color: white;
    text-decoration: none;
}
.text{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.text-block li {
    list-style: none;
    width: 300px;
    text-align: center;
    margin-top: 80px;
}
.text h2 {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
}
.text h2::after{
    content:"";
    transform: rotate(45deg);
    position: absolute;
    bottom: -30px;
    left: 47%;

    width: 20px;
    height: 20px;
    background-color: white ;
}
.suka{
    background-image:url(img/Layer\ 10\ copy.png);
}
.container-news{
    width: 940px;
    height: 422px;
    color: black;
    display: flex;
    margin-top: 85px;

    background-image:url(img/Layer\ 17\ copy.png);
    background-repeat: no-repeat;
    background-position: center, 0 0;
}
.news{
    width: 470px;
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.news-text{
    margin-top:45px;
    list-style: none;
}
.news-text h2{
    margin: 0;
    margin-bottom: 30px;
}
.news button{
    margin: auto;
    margin-left: 33px;
}
.fotogaleri{
    width: 470px;
    height: 422px;
    display: inline-block;
    text-align: center;
}
.fotogaleri h2{
    margin-top: 45px;
    margin-bottom: 30px;
    margin-right: 92px;
}
.fotogaleri-content img{
    width: 300px;
    height: 178px;
    border: 7px solid white;
}
.colons-info-form{
    background-image: url(img/Layer\ 10\ copy.png);
}
.colons{
    width: 940px;
    height: 422px;
    margin-top: 35px;
    color: black;
    display: flex;

    background-image: url(img/Layer\ 17\ copy.png);
    background-repeat: no-repeat;
    background-position: center;
}
.colons-info a {
    border: 7px inset black;
    background-color: black;
    color: white;
    width: 140px;
    height: 45px;
}
.colons-info{
    width: 470px;
    height: 420px;
    margin: auto;

}
.colons-form{
    width: 470px;
    height: 363px;
}
.form{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text-form{
    width: 140px;
    height: 68px;
    margin: 0;
    margin-bottom: 10px;
}
.text-form input{
    width: 133px;
    height: 40px;
    border: 2px solid blacks;
}
footer{
    height: 190px;
    background: #212121;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-footer{
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.info{
    width: 310px;
    height: 120px;
}
.socseti{
    width: 153px;
    height: 120px;
}
.socseti ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 141px;
    margin: auto;
    padding: 0;
    fill: white;
}

.social-button {
    width: 43px;
    height: 43px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-button :hover {
    width: 100%;
    height: 100%;
    background-color: white;
}
.social-button :hover path{
    fill: black;
}
.rozrab{
    width: 160px;
    height: 80px;
}

    



